// Import all of Bootstrap's CSS
//@import "bootstrap/scss/bootstrap";

/*
$primary: #333;
$text-color: #ffffff;

body {
  background-color: $primary;
  color: $text-color;
}
*/

.bg-brand {
  background-color: #362e46;
}

.carrousel-bt-bg {
  background-color: #81779e;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.border-color {
  border-color: #3a3645;
}
